
#_weapun.template
[core]
#Napalm canister damage------------
@global NPD: 45
@global NPDAoE: 120
@global NPDtick: 1
@global DMGpenalty: 0.7
#==================Cooldown, also energy pool
@global cooldown: 5
@global NPDduration: 3