
#_weapun.template
[core]

@global summissileDamage: 120
@global missileHp: 150
@global missileDeployment: 115
@global missileSpeed: 1.1
@global missileRearm: 8

@global mechRange: 380
#@global missileLimittingMinRange: 200
